{% extends "layout.html" %}

{% block title %}Detección de Enfermedad - SoyEye{% endblock %}

{% block content %}
    <h1>Detección de Enfermedad en Hojas de Soja</h1>
    <p>Subí una imagen de hoja para detectar su posible enfermedad mediante IA.</p>

    <form action="/detectar_enfermedad" method="POST" enctype="multipart/form-data">
        <input 
            type="file" 
            name="file" 
            accept="image/*" 
            capture="environment" 
            id="foto_soja"
            required>
        
        <button type="submit" class="button-64"><span>Analizar imagen</span></button>
    </form>

    <h1>Métricas del modelo</h1>
    <p>Visualización interactiva del desempeño del modelo de clasificación</p>

    <iframe src="/dash/" title="Dashboard Métricas del Modelo"></iframe>

    <a href="/" style="margin-top: 20px; color: var(--accent-green); text-decoration: none; font-weight: bold;">⬅ Volver al inicio</a>
{% endblock %}
